<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
  </head>
<body>
    <div class="nav-wrapper">
    <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://yt3.ggpht.com/ytc/AKedOLTMrQ2i6edKUMuWe1H5cWoMjJ7JzTk-RqgahxAI=s900-c-k-c0x00ffffff-no-rj" alt=""height="40px" width="40px"></a>
          <a class="navbar-brand" href="#"><b>Filmygram</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <form method="get" action="/add" >
                <button type="submit"   style='margin-right:16px'class="btn1 mt-5 mb-5" >Add Post</button>
            </form>
             
            <form method="get" action="/" >
              <button type="submit"   class="btn1 mt-5 mb-5" >Home</button>
          </form>
            </ul>
            <form class="d-flex" >
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                       
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Followers</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Following</a>
                        
                      </li>
                     

                     
                     
                    </ul>
                    </div>
                    </form>
            
          </div>
        </div>
      </nav>
    </div>
</div>